body{
    font-family: "proxima-nova-n3","proxima-nova";
    padding:0;
    margin:0;
}

h5{
    color: #990000;
    height: 45px;
    font-size: 45px;
}

h6{
    font-size: 30px;
    color: #990000;
}

h7{
    font-size: 18px;
}

p{
     line-height: 1.5;
     margin-top: 0em;
     margin-bottom: 0.4em;
}

@media only screen and (max-width: 768px){
   h5{
    height: 30px;
    font-size: 30px;
    } 
    
    h1{
        font-size: 30px;
    }
    h6{
        font-size: 20px;
    }
    h3{
        font-size: 25px;
    }
    h7{
        font-size: 15px;
    }
    p{
        line-height: 1.2;
    }
}
/******************Header******************/
.masthead {
    background-color: white;
    width: 100%;
    margin:0;
    display: inline-block;
    margin-left: -8px;
    margin-top: 18px;
}

#title{
    padding-left: 54.5px;
    font-weight: normal;
    color:#5b514a; 
    float: left;
    font-style: normal;
    margin-top: 8px;
}

#logo{
    height: 110px;
    width: 350px;
    float: right;
    padding-right: 10px;
    margin-top: -20px;
}

#mobile-logo{
    display: none;
}

@media only screen and (max-width: 768px){
    .masthead {
    margin-top: 5px;
    }
    
   #title{
    padding-left: 0px;
    margin-top: 0px;
    width: 50%;
    }
    
    #logo{
    display: none;
    }

    #mobile-logo{
        margin-top: 10px;
        display: block;
        float: right;
        width: 50%;
        margin-right: -20px;
    }
}

/***********Navigation Bar***************/
#navbar {
    overflow: hidden;
    background-color: #990000;
    z-index: 150;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0, .6);
}

#navbar-items{
    margin-left: 38px;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.sticky {
      position: fixed;
      top: 0;
      width: 100%;
}

@media only screen and (max-width: 768px){
   #navbar {
    width: 100%;
    }

    #navbar-items{
        margin-left: 10px;
    }

    #navbar a {
        padding: 8px 10px;
        text-decoration: none;
        font-size: 14px;
    }
}


/**************Welcome Container*************/
#welcomContainer{
    height: 559.5px;
    width: 100%;
    background:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url("../img/bg_main.jpg");
    /* bottom, image */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#intro-heading{
    padding-top: 120px;
    word-wrap: break-word;
    letter-spacing: normal;
    font-weight:lighter;    
}

#intro-mission-heading{
    padding-top: 70px;
    padding-bottom: -20px;
    height: 40px;
    width:100%px;
}

#intro-mission-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 240px;
    padding-right: 240px;
    font-size: 20px;
    word-wrap: break-word;
    letter-spacing: normal;
    width:100%;
}

#learnmore-btn{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;;
    color: white;
    height: 45px;
    width: 120px;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
}

#learnmore-btn:hover {
    background-color: #FFCC00;
    color: white;
    border: none;
}

@media only screen and (max-width: 768px){
    #welcomContainer{
    margin-left: 0px;
    margin-right: 0px;
    height: 271px;
    }
    #intro-heading{
        padding-top: 55px; 
    }

    #intro-mission-heading{
        display: none;
    }

    #intro-mission-content{
        display: none;
    }

    #learnmore-btn{
        margin-top: 55px;
        font-size: 15px;
        text-align: center;
        background-color: transparent;;
        color: white;
        height: 35px;
        width: 90px;
    }
}

/*****************Updates*****************/
#updates{
    margin-top: 100px;
    margin-left: 54.5px;
    margin-right: 54.5px;
}

#updates-events{
    margin-top: 10px;
}
.event-img{
    margin-top: 100px;
    float:left;
    
}
.content-img{
    height:300px;
    width:500px;
}

.event-text{
    margin-top: 170px;
    padding-left: 55px;
    float:left;
    width: 600px;
}

.event-heading{
    margin-top: -76px;
}

.event-date{
    margin-top: 20px;
    margin-bottom: -20px;
    font-style: italic;
    color: #990000;
    font-weight: bold;
}

.event-content{
    margin-top: 30px;
    font-size: 18px;
    color: #5b514a;
}

@media only screen and (max-width: 768px){
    #updates{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    }

    #updates-events{
        margin-top: 20px;
    }
    .event-img{
        margin-top: 20px;
        float:left;

    }
    .content-img{
        height:180px;
        width:100%;
    }

    .event-text{
        margin-top: 0px;
        padding-left:0px;
        float:left;
        width: 100%;
    }

    .event-heading{
        margin-top: 10px;
    }

    .event-date{
        line-height: 1.2;
        width: 100%;
    }

    .event-content{
        margin-top: 30px;
        font-size: 15px;
        width: 100%;
    }
}

/********************Resources*********************/
#resources{
    margin-top: 630px;
    margin-left: 54.5px;
    margin-right: 54.5px;
}

#rsrc-heading{
    text-align: center!important;
}

#rsrc-lists{
    margin-top: 110px;
}

.rsrc-img{
    float:left;
    
}
.item-img{
    height:150px;
    width:240px;
}

.rsrc-text{
    padding-left: 55px;
    float:left;
    width: 860px;
}

 #LADBS{
        margin-top: 65px;
 }

 #USCHLC{
      margin-top:62px;  
 }

.rsrc-heading{
    margin-top: -8px;
    font-size: 30px;
}

.rsrc-content{
    margin-top: 24px;
    font-size: 18px;
    color: #5b514a;
}
.rsrc-list{
    font-size:18px;
    line-height:1.7;
    margin-top:-4px;
}

@media only screen and (max-width: 768px){
    #resources{
        margin-top: 615px;
        margin-left: 0px;
        margin-right: 0px;
    }


    #rsrc-lists{
        margin-top: 60px;
    }

    .item-img{
        height:115px;
        width:200px;
        margin-bottom: -15px;
    }

    .rsrc-text{
        padding-left: 0px;
        width: 100%;
    }
    
    #HCIDLA{
        margin-top: 40px;
    }
    
    #LADBS{
        margin-top: 40px;
    }
    
    #USCHLC{
        margin-top:45px;
    }

    .rsrc-heading{
        margin-top: -15px;
        font-size: 20px;
        line-height: 1.2;
    }

    .rsrc-content{
        margin-top: 10px;
        font-size: 15px;
    }
    
    .rsrc-list{
        font-size: 15px;
        line-height:1.2;
    }

}

/*********************Contact*************************/
#contact{
    margin-top: 1600px;
    margin-left: 54.5px;
}
#contact-heading {
    text-align: left;
}

#contact-form {
    margin-left: 240px;
    margin-top: 100px;
}

.label{
    color: #990000;
    font-size: 20px;
    width: 100%;
    float:left;
}
input[type=text], input[type=email], select, textarea { 
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    float:left;
}

.info-input{
    width: 450px;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #990000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    float: right;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #FFCC00;
}

@media only screen and (max-width: 768px){
    #contact{
        margin-top: 1930px;
        margin-left: 0px;
    }
    #contact-form {
        margin-left: 0px;
        margin-top: 30px;
    }

    .label{
        font-size: 15px;
    }
    input[type=text], input[type=email], select, textarea { 
        padding: 8px; /* Some padding */  
        margin-top: 4px; /* Add a top margin */
        margin-bottom: 14px; /* Bottom margin */
    }
    
    .info-input{
       width: 300px; 
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        padding: 10px 18px;
        float:none;
    }
    
    #message-area{
        max-width: 100%;
    }

}

/*************************Footer*******************************/
footer{
    margin-top: 75px;
    margin-left: -20px;
    margin-right: -20px;
    
}
#copyright{
    padding-top: 12px;
    background-color: #990000;
    height:40px;
}

#copyright-text{
    padding-left: 54px;
    color:white;
    letter-spacing: normal;
    text-align: left;
}
